<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDq-9vWi0WRbQpMespRkfnPrbKL6_D-Gaw</string>
	<key>GCM_SENDER_ID</key>
	<string>47903122804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eas.f0rtune</string>
	<key>PROJECT_ID</key>
	<string>app195-f88fc</string>
	<key>STORAGE_BUCKET</key>
	<string>app195-f88fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47903122804:ios:bee860a45006706ff87821</string>
</dict>
</plist>